<div class="content-top">
	<button type="button" class="btn btn-info" routerLink="/orders">Exit Upload</button>
	<!--<button type="button" class="btn btn-info">Reset Upload Area</button>-->
</div>
<div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
<dropzone class="dropzone-container" [config]="config" fxLayout="row" fxLayoutAlign="start strech" fxFlex="auto" [message]="'Click or drag a CSV file here to upload'" (init)="onUploadInit($event)" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
</div>
